<html>
  <head>
    <title>Search</title>
    <meta content="">
    <style></style>
  </head>
  <body>
	<!--h3>Search form</h3-->
	<form action="search/searchresults" method=post accept-charset="UTF-8">
		<table>
			<tr><td><h3>Search form</h3></td></tr>
			<tr>
				<td>Name
				</td>
				<td><input type="text" name="name"/>
				</td>
			</tr>
			<tr>
				<td>City
				</td>
				<td><input type="text" name="city"/>
				</td>
			</tr>
			<tr>
				<td>Distance to the city center
				</td>
				<td><input type="text" name="distance"/>
				</td>
			</tr>
			<tr>
				<td>Brand
				</td>
				<td><input type="text" name="brand"/>
				</td>
			</tr>
			<tr>
				<td>Chain
				</td>
				<td><input type="text" name="chain"/>
				</td>
			</tr>
			<tr>
				<td>Attendees per Day
				</td>
				<td><input type="text" name="attendees"/>
				</td>
			</tr>
			<tr>
				<td>Guest Rooms per Night
				</td>
				<td><input type="text" name="rooms"/>
				</td>
			</tr>
			<tr>
				<td/>
				<td><input type="submit" value="Submit" style="width:15em;height:2.75em"/>
				</td>
			</tr>
		</table>
	</form>





</body>
</html>
